@use './variables';
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: variables.$font-stack, sans-serif;
    font-size: variables.$body-font-size;
    display: flex;
    flex-direction: column;
}

.filtro-container {
    position: absolute;
    width: 80%;
    top: 120px;
    align-self: center;
    box-shadow: 10px 20px 30px -30px variables.$primary-color;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}